.box
{
    background-color: #333333;
    color: azure;
    width: 452px;
    margin: auto;
}

.digits
{
    text-align: center; 
    width: 113px;
    height: 70px;
    border-color: black;
    border-style: groove;
    border-width: 1px;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

.operations
{
    text-align: center; 
    width: 113px;
    height: 70px;
    border-color: black;
    border-style: groove;
    border-width: 1px;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    background-color: #8c8c8c;
    color: whitesmoke;
    cursor: pointer;
}

.operations:active 
{
    background-color: #ffffff;
    color: black;
}

.digits:active 
{
    background-color: #666666;
    color: whitesmoke;
}

.calc
{
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}